{% extends 'soprano/base.html' %}
{% load staticfiles %}
{% block extra_js %}
    <script src="{% static 'js/uploadbox.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>Add a Print and Layout</h1>
    <form enctype="multipart/form-data" method="post" action="/upload-print/">
        {% csrf_token %}
        <label for="printname">Print name: </label>
        <input name="print-name" id="printname" type="text"><br/>
        <label>
            <span class="sop-button sop-button-margin">Browse for Layout file...</span>
            <input type="file" name="upload-file" id="sop-home-file"/>
        </label>
        <span class="sop-filename-display"></span><br/>
        <button class="sop-button" type="submit" style="display:none">Go</button>
    </form>
    <a href="/">
        <span class="sop-back-arrow fa fa-times" style="font-size:3rem"></span>
    </a>

{% endblock content %}