{% extends 'soprano/base.html' %}
{% load staticfiles %}
{% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% if messages %}
    <script>
    $(document).ready(function() {
        {% for message in messages %}
            $.notify({
                title: 'Success',
                message: '{{ message }}'
            },{
                type: 'minimalist',
                delay: 5000,
                icon_type: 'image',
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<img data-notify="icon" class="img-circle pull-left">' +
                    '<span data-notify="title">{1}</span>' +
                    '<span data-notify="message">{2}</span>' +
                '</div>'
            });
        {% endfor %}
    });
    </script>
{% endif %}
{% endblock extra_js %}
{% block content %}
    <h1>Soprano RPPA Database</h1>
    <div class="sop-display-container">
        {% if user.is_authenticated %}
        <a href="{% url 'upload_print' %}">
            <div class="sop-display-button-lg">
                <span class="fa fa-paint-brush"></span>
                <span>Add a Print</span>
            </div>
        </a>
        <a href="{% url 'upload_tech_data' %}">
            <div class="sop-display-button-lg">
                <span class="fa fa-th"></span>
                <span>Add Technical Data</span>
            </div>
        </a>
        <a href="{% url 'download_sheet' %}">
            <div class="sop-display-button-lg">
                <span class="fa fa-cloud-download"></span>
                <span>Download Data</span>
            </div>
        </a>
        {% else %}
        <a href="{% url 'login' %}?next={% url 'index' %}">
            <div class="sop-display-button-lg">
                <span class="fa fa-sign-in"></span>
                <span>Login</span>
            </div>
        </a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <span class="sop-user-auth">
        Logged in as {{ user }} |
        <a href="{% url 'logout' %}?next={% url 'index' %}">Logout&nbsp;<span class="fa fa-sign-out"></span></a>
    </span>
    {% endif %}
{% endblock content %}