<div class="sop-box">
    <form class="sop-box-content" method="post" action="/upload/" enctype="multipart/form-data" id="sop-form">
        {% csrf_token %}
        <h1>Upload Data</h1>
        <select class="sop-select" name="layout-pk">
            {% for layout in layouts %}
            <option value="{{ layout.pk }}">{{ layout.name }}</option>
            {% endfor %}
        </select>
        <label>
            <span class="sop-button sop-button-margin">Browse...</span>
            <input type="file" name="upload-file" id="sop-home-file"/>
        </label>
        <span id="sop-home-file-display"></span>
        <button class="sop-button" id="sop-home-submit" style="display:none">Go</button>
    </form>
</div>