/*
 *
 *
 */
@import 'colors', 'checkboxes';

@mixin absolute-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  background-color: $blue-yonder;
  height: 100%;
  margin: 0;
  font-family: 'Hind', sans-serif;
  color: #48425E;
}

a {
  color: #48425E;
  text-decoration: none;
  &:visited { color: #48425E; }
}

.sop-box {
  background-color: $wild-blue-yonder;
  width: 75%;
  display: flex;
  justify-content: center;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);

  .sop-box-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: 6px;
    border: 6px solid $blue-yonder;

    h1 {
      font: {
        family: 'Londrina Solid', cursive;
        size: 5rem;
        weight: 300;
      }
      margin-top: 0;
    }

    input[type="text"], input[type="number"], input[type="password"] {
      padding-top: 1rem;

      font: {
        family: 'Open Sans', sans-serif;
        size: 2.4rem;
      }
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 3px solid $blue-yonder;
    }

    .sop-filename-display {
      font-size: 1.5rem;
    }


  }
}

label {
  font-size: 3rem;
  cursor: text;
}

.sop-container {
  @include absolute-center();
  padding-top: 50px;
  padding-bottom: 50px;
}

//.sop-box {
//  @include absolute-center();
//  background-color: $wild-blue-yonder;
//  height: 60%;
//  width: 75%;
//  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
//  color: $ghost-white;
//  font-family: 'Hind', sans-serif;
//  //font-size: 6rem;
//  position: relative;
//
//  .sop-box-content {
//    @include absolute-center();
//    flex-direction: column;
//    position: absolute;
//    top: 0;
//    left: 0;
//    bottom: 0;
//    right: 0;
//    margin: 6px;
//    border: 6px solid $blue-yonder;
//
//    h1 {
//      font-size: 5rem;
//      margin: 0;
//    }
//  }
//}

.sop-button {
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 0;
  color: $ghost-white;
  background-color: $blue-yonder;
  font-size: 1.5rem;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  transition: transform 0.2s;
  font-family: 'Hind', sans-serif;

  &:focus {
    outline: 0;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.7);
  }

  &-margin {
    margin-top: 8px;
  }
}


.sop-display-container {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 2rem 0 0 2rem;
    flex-grow: 1;
    width: calc(100% * (1/4) - 2rem - 1px);
    display: block;
  }

  div {
    color: $ghost-white;
    display: flex;
    background-color: $blue-yonder;
    padding: 3rem 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.7);
    }

    span.fa {
      font-size: 5rem;
    }

    span {
      text-align: center;
      font-size: 2rem;
    }
  }
}

.sop-select {
  width: 85%;
  outline: 0;
  border: none;
  background-color: $blue-yonder;
  color: $ghost-white;
  padding: 6px;
  cursor: pointer;
  font-size: 2rem;
}

.sop-upload-button-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;


}
input[type=file] {
  position: fixed;
  top: -1000px;
  opacity: 0;
}

.sop-back-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.sop-overlay {
  background-color: rgba(48, 48, 48, 0.5);
  color: $ghost-white;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  & img {
    transform: scale(2.0);
  }

  & span:nth-child(2) {
    font: {
      family: 'Hind', sans-serif;
      size: 6rem;
      weight: bold;
    }
  }

  & span:nth-child(3) {
    font: {
      family: 'Hind', sans-serif;
      size: 2rem;
      weight: bold;
    }
  }
}

.sop-fast-animation {
  animation-duration: 0.5s !important;
}

.filter-fields input[type="checkbox"] {
  transform: scale(1.8);
}

.sop-user-auth {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.alert-minimalist {
  background-color: $blue-yonder;
  border: 3px solid $ghost-white;
  color: $ghost-white;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Hind', sans-serif;
}
.alert-minimalist > [data-notify="title"] {
	color: $ghost-white;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
}